h1{
   
    margin-bottom: -2px;
    margin-top: 10px ;
    }
.img{
    border-radius: 100px;
    box-shadow: 0 0 0 1px black,0 0 0; 
    float: left;
    margin-right: 20px;
    
}
html, body {
    font-family: Arial; 
}
.student{
    color: darkgray;
    font-size: 15pt;
    


}
.num1{
    float: left;
    margin-left: 20px;
    margin-right: 20px;

    width: 45%;
    margin-top: 30px;
    margin-bottom: 40px;


}
.num2{
    float: left;
   margin-right: 25px;
    width: 48%;
}
.num3{
    float: left;
    margin-left: 25px;
    width: 48%;
}

.p11{
    font-size: 13pt;
    line-height: 1.8;




}
.img2{
    margin-top: 8px;
    margin-left: 10px;
    float: right;

}
.img3{
    float: left;
    margin-top: 8px;

}
h2 {
    margin-bottom: -5px;
    margin-left: 40px;

}
h3 {
    margin-left: 30px;
    margin-bottom: -10px;

}
.pp{
    margin-left: 40px;
    font-size: 13pt;

}
.pp1{
    margin-left: 40px;
    font-size: 13pt;
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: 10px;border-radius: 10px;
    width: 510px;
}
.pp2{
    margin-left: 40px;
    font-size: 13pt;
    color:white;
    border: 1px solid darkgray;
    background: darkgray;
    padding: 10px;
    border-radius: 10px;
    width: 280px;
}
ul{
    margin-left: 40px;

}
.ppp{
    margin-left: 30px;
    font-size: 13pt;
}
.ppp1{
    margin-top: -15px;
    margin-left: 30px;
    font-size: 10pt;
    font-style: italic;
}
hr{
   
  height: 3px;
  border: 0;
  background-color: rgb(23, 35, 73);;
}
